# Andrea Mirenda LAB 3F CI

In [1]:
import pandas as pd
from dataclasses import dataclass
from collections import Counter
import random
import math
import numpy as np
from icecream import ic
from matplotlib import pyplot as plt
from itertools import accumulate
from itertools import combinations
from tqdm.auto import tqdm
import geopy.distance
from geopy.distance import geodesic
import networkx as nx
from collections import deque

ModuleNotFoundError: No module named 'matplotlib'

# Dataset import

In [ ]:
CITIES = pd.read_csv('cities/russia.csv', header=None, names=['name', 'lat', 'lon'])

                  name    lat       lon
0               Abakan  53.72   91.4300
1              Achinsk  56.28   90.5000
2           Almetyevsk  54.90   52.3100
3              Angarsk  52.57  103.9100
4          Arkhangelsk  64.57   40.5300
..                 ...    ...       ...
162  Yuzhno‐Sakhalinsk  46.95  142.7400
163         Zelenograd  55.94   37.2900
164  Zheleznodorozhnyy  55.75   38.0167
165         Zhukovskiy  55.55   38.2500
166           Zlatoust  55.17   59.6500

[167 rows x 3 columns]

In [3]:
DIST_MATRIX = np.zeros((len(CITIES), len(CITIES)))
for c1, c2 in combinations(CITIES.itertuples(), 2):
    DIST_MATRIX[c1.Index, c2.Index] = DIST_MATRIX[c2.Index, c1.Index] = geodesic(
        (c1.lat, c1.lon), (c2.lat, c2.lon)
    ).km

# Class for the individuals

In [4]:
@dataclass
class Individual:
    genome: list
    fitness : float = None

# Greedy algorithm

In [5]:
def find_closest(segments, city, visited):
    # Filtra i segmenti che contengono 'city' e hanno un'altra città non in 'visited'
    candidates = [
        (pair, distance) for pair, distance in segments
        if city in pair and (other_city := (pair - {city}).pop()) not in visited
    ]
    if len(candidates)==0:
        print("errore")
    closest_segment = min(candidates, key=lambda x: x[1])
    closest_city = (closest_segment[0] - {city}).pop()
    return (int(city), closest_city)

In [6]:
def greedy_sol(city, segments):
    solution = []
    solution.append(city)
    visited = []
    visited.append(int(city))
    while len(visited)<len(CITIES):
        _, c1 = find_closest(segments, city, visited)
        solution.append(c1)
        visited.append(c1)
        city=c1
    solution.append(solution[0])
    
    return solution

In [7]:
starting_city = np.random.randint(0, len(CITIES))
segments = [
        ({c1, c2}, float(DIST_MATRIX[c1, c2])) for c1, c2 in combinations(range(len(CITIES)), 2)
]
greedy_sol(starting_city, segments)

[151,
 6,
 146,
 71,
 41,
 48,
 162,
 16,
 23,
 144,
 31,
 3,
 17,
 54,
 1,
 0,
 86,
 109,
 58,
 40,
 139,
 124,
 90,
 11,
 15,
 113,
 97,
 137,
 142,
 55,
 49,
 20,
 65,
 166,
 105,
 159,
 36,
 79,
 104,
 14,
 33,
 74,
 70,
 77,
 2,
 96,
 143,
 131,
 117,
 99,
 100,
 91,
 101,
 62,
 118,
 85,
 138,
 134,
 145,
 25,
 39,
 83,
 19,
 161,
 80,
 26,
 7,
 68,
 52,
 150,
 98,
 81,
 27,
 164,
 10,
 126,
 50,
 69,
 43,
 163,
 66,
 60,
 165,
 108,
 95,
 94,
 122,
 140,
 87,
 114,
 46,
 121,
 141,
 115,
 158,
 51,
 32,
 154,
 21,
 107,
 116,
 47,
 148,
 110,
 147,
 127,
 18,
 102,
 56,
 129,
 156,
 59,
 160,
 136,
 103,
 119,
 9,
 29,
 120,
 37,
 155,
 153,
 152,
 125,
 89,
 84,
 112,
 12,
 135,
 53,
 64,
 5,
 130,
 76,
 22,
 45,
 111,
 72,
 149,
 73,
 30,
 42,
 63,
 38,
 24,
 8,
 28,
 128,
 88,
 13,
 35,
 44,
 133,
 4,
 123,
 67,
 34,
 75,
 132,
 78,
 93,
 92,
 82,
 57,
 157,
 61,
 106,
 151]